<div class="container">
  <div class="row">
    <h1>About us</h1>
  </div>
  <div class="wrapper">
    <h3>How it Works</h3>
    <p>The most simple explination of our site is that as users view the images on our site, the ad revenue is split between server/mandatory costs and then donated proportional to the ratio of hits between organization.  (So each time a page is viewed, a hit is recorded for the page and then the revenue is split up proportionally)</p>
    <h3 id="contact_us">Contact/Info</h3>
    <p>If you have any questions, comments or concerns you can contact me at <a href="mailto:">ThomasHansen@protonmail.ch</a>.  If you have a copyright violation please email me at that address with a link to the image, and I'll verify the violation and remove it as quickly as possible.</p>
    <p>Our official social media accounts are also availible here:</p>
    <ul>
      <li>Reddit: libpre</li>
      <li>Voat: libpre</li>
      <li>twitter: libpre</li>
      <li>GitHub: haxonek</li>
    </ul>
  </div>
</div>
