<% provide(:title, "Libpre | About us") %>

<div class="container">
  <div class="row">
    <h1>About us</h1>
  </div>
  <div class="wrapper">
    <h3>What are we</h3>
    <p>Libpre is, first and foremost, an image hosting site.  We're different than sites like imgur since we don't have accounts or allow for things like comments/voting on the site, rather we save that functionality for aggregators like reddit and voat.  Our main focus is to provide an easy system to use while generating money for other organizations.</p>
    <h3>How it Works</h3>
    <p>Our model is simple: the more ad revenue a post generates, the more money is donated to the chosen recipient.</p>
    <p>In reality it’s a little different, but a similar idea.  We recored each view and save them in a database.  When we disperse the generated revenue, the total count of each view for the organization is compared to the whole, and the revenue is donated as a percentage to the organization.  (So this means that the proceeds are not donated with each hit, rather are donated as a whole periodically).</p>
    <p>The hits, of course, come from viewers like you.  Posts may be linked to from sites such as reddit or voat in order to drive viewers to the page.  If the post goes a significant amount of time without being viewed (+6 months), It may be deleted.</p>
    <p>If you have any specific questions, you may always email me at [add email] or view our github repo.</p>
    <h3>Who you can support</h3>
    <p>Right now we only allow you to choose from five organizations: Wikileaks, tor project, Mozilla, voat.co and The EFF.  This selection is in large part due to the state of our website--which is alpha testing.  As we grow we fully intend to expand the organization list out through user recommendations likely taken through twitter or our subreddit/subverse, but until then I intend to keep the selection smaller to keep things simple.</p>
    <h3 id="organizations">The Organizations</h3>
    <h5><a href="https://www.wikileaks.org" target="_blank">Wikileaks</a></h5>
    <p>From Wikileak's website:</p>
    <p><blockquote>WikiLeaks is a not-for-profit media organisation. Our goal is to bring important news and information to the public. We provide an innovative, secure and anonymous way for sources to leak information to our journalists (our electronic drop box). One of our most important activities is to publish original source material alongside our news stories so readers and historians alike can see evidence of the truth.  <a href="https://wikileaks.org/About.html" target="_blank">continue reading</a></blockquote></p>
    <h5><a href="https://www.torproject.org/" target="_blank">Tor Project</a></h5>
    <p>From the Tor website:</p>
    <p><blockquote>The Tor network is a group of volunteer-operated servers that allows people to improve their privacy and security on the Internet. Tor's users employ this network by connecting through a series of virtual tunnels rather than making a direct connection, thus allowing both organizations and individuals to share information over public networks without compromising their privacy. Along the same line, Tor is an effective censorship circumvention tool, allowing its users to reach otherwise blocked destinations or content. Tor can also be used as a building block for software developers to create new communication tools with built-in privacy features.<a href="https://www.torproject.org/about/overview.html.en" target="_blank">continue reading</a></blockquote></p>
    <h5><a href="https://www.mozilla.org/" target="_blank">Mozilla Organization</a></h5>
    <p>From Mozilla's website:</p>
    <p><blockquote>The Mozilla Foundation is a non-profit organization that promotes openness, innovation and participation on the Internet. We promote the values of an open Internet to the broader world. <br/> <br/>Mozilla is best known for the Firefox browser, but we advance our mission through other software projects, grants and engagement and education efforts such as Mozilla Webmaker.  <a href="https://www.mozilla.org/" target="_blank">continue reading</a></blockquote></p>
    <h5><a href="https://www.voat.co" target="_blank">Voat.co</a></h5>
    <p>Voat is a media aggregator website featuring user-posted content (similar to Reddit.com), with an emphisis on freedom of expression/speach.  Read their About page <a href="https://voat.co/about" target="_blank">here</a></p>
    <h5><a href="https://www.eff.org/" target="_blank">Electronic Frontier Foundation</a></h5>
    <p>From EFF's website:</p>
    <p><blockquote>The Electronic Frontier Foundation is the leading nonprofit organization defending civil liberties in the digital world. Founded in 1990, EFF champions user privacy, free expression, and innovation through impact litigation, policy analysis, grassroots activism, and technology development. We work to ensure that rights and freedoms are enhanced and protected as our use of technology grows.  <a href="https://www.eff.org/about" target="_blank">continue reading</a></blockquote></p>
    <h3 id="contact_us">Contact/Info</h3>
    <p>If you have any questions, comments or concerns you can contact me at <a href="mailto:">[add email]</a>.  If you have a copyright violation please email me at that address with a link to the image, and I'll verify the violation and remove it as quickly as possible.</p>
    <p>Our official social media accounts are also availible here:</p>
    <ul>
      <li>Reddit: libpre</li>
      <li>Voat: libpre</li>
      <li>twitter: @LibpreOfficial</li>
    </ul>
  </div>
</div>
