<div class="container">
  <div class="wrapper">
    <h3>Markdown Examples</h3>
    <p>Here are the basic forms of markdown that function well with this site.</p>
    <table class="twelve columns">
      <tr>
        <th>Markdown text</th>
        <th>How it appears</th>
      </tr>
      <tr>
        <td>[link](www.link.com)</td>
        <td><a href="#">link</a></td>
      </tr>
      <tr>
        <td>*italics*</td>
        <td><i>italics</i></td>
      </tr>
      <tr>
        <td>**bold**</td>
        <td><b>bold</b></td>
      </tr>
      <tr>
        <td>> Quote</td>
        <td>
          <blockquote>Quote</blockquote>
        </td>
      </tr>
      <tr>
        <td>
          Paragraph one
          <br/><br/>
          Paragraph two
        </td>
        <td>
          <p>Paragraph one</p>
          <p>Paragraph two</p>
        </td>
      </tr>
    </table>
    <p>And in order to successfully seperate paragraphs you need to add two returns, or else it will all clump together</p>
    <p>And that's it!  You should now be an expert with markdown.  If you want to test to see what it'll look like you can use <a href="http://dillinger.io/">this</a> site(dillinger.io), otherwise I should have a preview comming soon that's embeded below the textfield.</p>
  </div>
</div>
