<% provide(:title, "Libpre | Create a post") %>

 <div class="container">
  <h1>libpre</h1>
  <div class="row wrapper">
    <div class="four columns add-button-container">
      <%= link_to "About us", about_path, class: "button button-primary" %>
      <!-- <a href="<%= about_path %>" class="button button-primary" >About us</a> -->
    </div>
    <div class="eight columns">
      <h5>Our mission is to support an open, free internet.  Each time you host an image with us the profits are donated to organizations that help make the internet awesome.</h5>
    </div>
  </div>

  <%= render 'form' %>

  <% unless @posts.nil? || @posts.count == 0 %>
    <div class="wrapper">
      <h3>Are these posts yours?</h3>
      <div class="local-links">
        <% @posts.each do |p| %>
          <%= link_to p.title, p, class: "local-item" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
