<% provide(:title, @post.title + " | Procedes to " + @post.organization) %>
<% provide(:noFooter, "x") %>
<!-- ^^ A terrible way to deal with this, but I can't get a boolean to work here :( -->

<div class="container">
  <h1><%= @post.title %></h1>
  <% @post.post_items.each do |post_item| %>
    <div class="wrapper editable">
      <% unless post_item.image_title.blank? %>
        <h4><%= @markdown.render(post_item.image_title).html_safe %></h4>
      <% end %>
      <% unless post_item.image.blank? %>
        <button class="image-zoom">click to zoom</button>
        <%= image_tag post_item.image.url(:original), class: "img-item" %>
      <% end %>
      <% unless post_item.description.blank? %>
        <p><%= @markdown.render(post_item.description).html_safe %></p>
      <% end %>
    </div>
  <% end %>

</div>
