.container {
    margin-top: 1em;
}

p {
    font-size: 1.2em;
    font-family: 'Helvetica', sans-serif;
}

input[type="file"] {
}

.submit-button {
    margin: 1.3rem auto;
}

.add-button {
    margin-top: 2rem;
}

.add-button-container {
    max-height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
/*
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
*/
    align-items: center;
}


h1 {
    border-left: 2px solid #333;
    border-radius: 5px;
    padding-left: 5%;
}

.wrapper {
    margin-top: 4rem;
    padding: 3% 5%;
    border: solid 2px #333;
    border-radius: 15px;
    background-color: #fefefe;
}

.upload-wrapper, .nested-fields {
    border-left: 3px solid #333;
    padding-left: 1.8rem;
    margin-top: 2rem;
}

.img-item {
    max-width: 100%;
    max-height: 100vh;
}

.editable > p {
    font-size: 1.2em;
    margin-bottom: .5rem;
    font-weight: 300;
}

.editable > h4 {
  font-weight: bold;
}

.footer {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

.footer-item {
    margin-top: 4rem;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    color: #333;
    padding: .7rem 0%;
    background-color: #fefefe;
    text-decoration: none;
    font-size: 1em;
    border-top: 1px #333 solid;
    border-left: 1px solid #333;
    transition: .2s;
}

.footer-item:hover {
    background-color: #efefef;
    color: #333;
}

.footer-item:active {
    background-color: #dbdbdb;
}

.alert {
    width: 100%;
    border-radius: 15px;
    padding: 1.2em;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1em;
    transition: all .3s;
}

.alert:hover {
    opacity: .2;
}

.alert-success {
    background-color: rgba(75, 255, 68, 0.68);
}

.alert-failure {
    background-color: rgba(255, 93, 55, 0.68);
}
